extends layout

block content
  section
    div(id="process")
      div(class="container")
        h2 Processo da ovulação
  section
    div(id="period")
      div(class="container")
        h2 O que é o Período Fértil?
        p.
          O período fértil feminino ocorre quando os óvulos tornam-se maduros e prontos para receber o espermatozoide e, então, dar início a uma gravidez. Para calcular o período fértil, recomenda-se anotar, durante 3 meses consecutivos, os dias da menstruação num calendário e contar quantos dias há de intervalo entre uma menstruação e outra.
        p.
          O período fértil feminino dá-se durante 3 dias, que ocorrem no 14º dia após a menstruação. Conta-se a partir do primeiro dia em que a menstruação desceu, numa mulher cujo intervalo entre as menstruações dure 28 dias.
        p.
          Só é possível calcular com certeza o período fértil se a mulher tiver um ciclo menstrual regular, ou seja, se os intervalos entre as suas menstruações forem sempre de 28 dias, ou sempre de 30 dias, ou sempre de 31 dias, e assim por diante.

        h3 Cálcule seu Período Fértil
        label(for='ciclo') Ciclo Menstrual:  
         input(type="radio", class="ciclo-menstrual", name="ciclo-menstrual", value="28", checked="true") 
         | 28 
         input(type="radio", class="ciclo-menstrual", name="ciclo-menstrual", value="34") 
         | 34 

        div(id="box-calendario", class="row")
          div(class="seta seta-esquerda col-md-1") 
            a(href="#") &lt;
          div(class="container-calendario col-md-10")
            div(id="calendario", class="row")
                each months, key in period
                  div(class="mes col-md-6") 
                    p= months.month.monthText
                    div(class="tit-dias")
                      div Dom
                      div Seg
                      div Ter
                      div Qua
                      div Qui
                      div Sex
                      div Sab
                    div(class="dias") 
                      span(title="#{months.month.monthNumber}", class="hidden-month")        
                      each days, key in months.days
                        div(class="#{days.detail}")
                          if (days.day == '')
                            a(href="#", title="") &nbsp;
                          else
                            a(href="#", title="#{days.date}") #{days.day}        
          div(class="seta seta-direita col-md-1") 
            a(href="#") &gt;
  section
    div(id="tips")
      div(class="container")
        h2 6 Dicas de como ser fértil

        div(class="row")
          div(class="col-md-2")
            img(src="images/estresse@2x.png", alt="Evite a ansiedade", width="105px", height="108px")
          div(class="col-md-10")
            h3 1. Evite a ansiedade 
            p.
              A nossa saúde emocional influência diretamente o estado de nosso corpo, por isso, tente evitar o máximo a ansiedade, estresse, e outros tipos de emoções fortes.
        
        div(class="row")  
          div(class="col-md-2")
            img(src="images/cigarro@2x.png", alt="Deixe de fumar", width="116px", height="111px")
          div(class="col-md-10")
            h3 2. Deixe de fumar  
            p.
              O cigarro contém substâncias prejudiciais a saúde e é causador de inúmeras doenças, o seu uso pode afetar tanto sua fertilidade quanto o feto no período da gestação.
        
        div(class="row")    
          div(class="col-md-2")
            img(src="images/alcool@2x.png", alt="Não consumir bebidas alcoólicas", width="104px", height="111px")
          div(class="col-md-10")
            h3 3. Não consumir bebidas alcoólicas  
            p.
              O risco de aborto espontâneo quase dobra quando a gestante consome álcool. Sem falar que o álcool é uma substância que passa livremente pela pela placenta e, com muita facilidade chega ao feto. Uma vez que o fígado do bebê que está em formação metaboliza o álcool duas vezes mais lentamente que o fígado da sua mãe, isto é, o álcool permanece por mais tempo no organismo do bebê do que da sua mamãe.
        
        div(class="row")   
          div(class="col-md-2")
            img(src="images/alimentacao@2x.png", alt="Alimentar-se corretamente", width="132px", height="105px")        
          div(class="col-md-10")
            h3 4. Alimentar-se corretamente  
            p.
              Manter uma alimentação saudável, evitando comer comidas gordurosas, dando lugar a frutas e verduras e um fundamental para se tornar mais fértil.
        
        div(class="row")   
          div(class="col-md-2")
            img(src="images/exercicio@2x.png", alt="Fazer atividade física regularmente", width="132px", height="105px")
          div(class="col-md-10")
            h3 5. Fazer atividade física regularmente  
            p.
              Fazer exercícios regulares pode aumentar bastante o bem estar e consequentemente trazer benefícios para mãe e bebê.
        
        div(class="row")   
          div(class="col-md-2")
            img(src="images/saude@2x.png", alt="Tratar doenças", width="110px", height="105px")
          div(class="col-md-10")
            h3 6. Tratar doenças
            p.
              Tratar qualquer doenças que possa interferir na gravidez, como endometriose, ovários policísticos ou a candidíase, por exemplo.

        div(class="alert alert-warning")
          p
            <strong>Observação:</strong> É importante ressaltar que mesmo seguindo as dicas qualquer problema para engravidar deve-se procurar um médico especializado para uma avaliação clínica.

  footer
    div(class="footer")
      p
        img(src="images/logo-mulher-fertil-menor.jpg", alt="Mulher Fértil") 
        <b>2014 Copyright - Mulher Fértil - Todos os direitos reservados.</b>
