each months, key in period
  div(class="mes col-md-6") 
    p= months.month.monthText
    div(class="tit-dias")
      div Dom
      div Seg
      div Ter
      div Qua
      div Qui
      div Sex
      div Sab
    div(class="dias") 
      span(title="#{months.month.monthNumber}", class="hidden-month")        
      each days, key in months.days
        div(class="#{days.detail}")
          if (days.day == '')
            a(href="#", title="") &nbsp;
          else
            a(href="#", title="#{days.date}", data-toggle="#{days.date}") #{days.day}        